.sas-widget-model {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    right: 0;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
    padding: 40px 40px;
    display: none;
}
.sas-widget-model.active{
    display: block;
}
.sas-widget-model-inner {
    background: #F0F0F7;
    height: calc(100% - 40px);
}


.sas-widget-model-inner iframe {
    width: 100%;
    height: 100%;
    border: none;
}


.sas-widget-model-header {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.sas-widget-model-header a {
    border: 1px solid #aaa;
    display: inline-block;
    margin: 0 5px;
    border-radius: 50px;
    padding: 7px 12px;
    line-height: 1;
    font-size: 14px;
    background: #fff;
    cursor: pointer;
}

.sas-widget-model-close-button {
position: absolute;
top: 20px;
right: 25px;
width: 30px;
height: 30px;
background-image: url(../img/all-icon.png);
background-position: -40px 0;
cursor: pointer;
z-index: 9903;
}

.sas-widget-model-close.sas-widget-model-close-back {
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.sas-widget-model-container {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #FFFFFF;
}



.sas-pop-up-hide-show-btn {
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    box-shadow: rgba(0,0,0,0.0980392) 0 0 1px 2px;
    cursor: pointer;
    position: fixed;
    top: auto;
    right: 65px;
    bottom: 15px;
    z-index: 99;
    visibility: visible;
    transition: all 0s;
}
.sas-widget-popup.bottom-left+.sas-pop-up-hide-show-btn{
right: auto;
left: 65px;
}


#sas-widget-container:not(.hide)+.sas-pop-up-hide-show-btn{
    visibility: hidden;
}
.sas-pop-up-hide-show-btn a {
    line-height: 50px;
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    font-family: unset;
}



.sas-widget-container-inner .sas-widget-title{
    margin-right: 20px;
}
.sas-widget-container-inner .sas-widget-sub-title{
}
.sas-widget-container-inner .sas-widget-body-single-input{
    width: 100%;
}
.sas-widget-container-inner input{
    width: 100%;
}
.sas-widget-container-inner .sas-widget-submit-button {
    display: inline-block;
}
.sas-widget-container-inner .sas-widget-submit{

}













#sas-widget-container {
    background: #fff;
}

.sas-widget-container-inner {
    position: relative;
    
}
.sas-widget-slim .sas-widget-container-inner{
   display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 70px; 
}
#sas-widget-container.sas-widget-fixed {
    max-width: 450px;
    padding-top: 15px;
    padding-bottom: 10px;
}

#sas-widget-container.hide:not(.sas-widget-popup){
    display: none;
}
#sas-widget-container.sas-widget-popup {
    position: fixed;
    right: 65px;
    max-width: 530px;
    width: calc(100% - 130px);
    z-index: 999;
    padding: 30px 40px;
    bottom: -100%;
    transition: all 0.5s;
    max-height: 100vh;
    overflow: auto;
    border-radius: 42px 42px 0 0;
}
#sas-widget-container.sas-widget-popup:not(.hide) {
    bottom: 0;
}

#sas-widget-container.sas-widget-popup.bottom-left{
right: auto;
left: 65px;
}

#sas-widget-container.sas-widget-popup.center{right: auto;left: 50%;margin: 0 auto;top: 50%;transform: translateX(-50%) translateY(-50%);border-radius: 42px;bottom: auto;}
#sas-widget-container.hide.sas-widget-popup.center{
    top: 100%;
    transform: translateX(-50%);

}





.sas-widget-form-cros {
    position: absolute;
    top: 0;
    right: 0;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.sas-widget-form-cros span {
    width: 100%;
    height: 2px;
    background: #ff0000;
    border-radius: 50px;
    position: absolute;
    left: 0;
    top: calc(50% - 2px);
    transform: rotate(45deg);
}

.sas-widget-form-cros span:last-child {
    transform: rotate(-45deg);
}


.sas-widget-slim .sas-widget-sub-title, .sas-widget-slim .sas-widget-container-inner .sas-widget-img {
    display: none;
}




#sas-widget-container.sas-widget-slim {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 9999999999;
}

.sas-widget-slim .sas-widget-title-sec {
    display: inline-block;
}

.sas-widget-slim .sas-widget-form {
    display: inline-block;
    text-align: center;
}

.sas-widget-slim .sas-widget-form .sas-widget-body-main-sec {
    margin: 0;
    display: inline-block;
}


.sas-widget-slim .sas-widget-container-inner .sas-widget-body-single-input {
    width: 170px;
    display: inline-block;
    padding: 0 8px;
    max-width: 50%;
}

.sas-widget-slim .sas-widget-form-cros {
    position: relative;
    margin: 8px;
}

.sas-widget-slim .sas-widget-container-inner  input {
    padding: 5px 20px;
    text-align: center;
}

.sas-widget-slim .sas-widget-container-inner .sas-widget-submit {
    margin: 8px;
    padding: 5px 38px;
}

.sas-widget-slim .sas-widget-container-inner .sas-widget-title {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 20px;
}


.sas-widget-slim .sas-widget-container-inner .sas-widget-body-single-input .error{
    display: none;
}
.sas-widget-slim .sas-widget-container-inner .sas-widget-body-single-input.has-error input{
    border-color: #f16363;
}






/* form stylling */
.sas-widget-body-main-sec {
    margin-top: 25px;
}
.sas-widget-container-inner .sas-widget-title {
    color: #000000;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 0;
    line-height: 1.2;
    margin-right: 20px;
}
.sas-widget-container-inner .sas-widget-sub-title {
    color: #696969;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 1.2;
    margin-top: 15px;
}
.sas-widget-container-inner .sas-widget-img {
    max-height: 135px;
    margin-top: 20px;
}

.sas-widget-container-inner .sas-widget-body-single-input-inner{
   margin: 8px 0;
   position: relative;
   background: #fff;
}
.sas-widget-container-inner .sas-widget-body-single-input-inner .error{
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translate(0, -50%);
    color: #f00;
    font-size: 12px;
    margin: 0;
}
.sas-widget-container-inner input {
    width: 100%;
    border: 1px solid #D9D9D9;
    border-radius: 0;
    padding: 7px 20px;
    line-height: 1.3;
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    outline: none;
    position: relative;
    z-index: 1;
    background: transparent;
}
.sas-widget-container-inner .sas-widget-submit {
    background: #FF164D;
    border: none;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3;
    padding: 8px 38px;
    margin-top: 22px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(255,22,77,0.25);
    -moz-box-shadow: 0px 10px 20px 0px rgba(255,22,77,0.25);
    box-shadow: 0px 10px 20px 0px rgba(255,22,77,0.25);
    cursor: pointer;
}
#sas-widget-container.sas-widget-popup {
    background: #fff;
    padding: 30px 40px;
}



@media screen and (max-width:550px) {

.sas-widget-slim .sas-widget-container-inner .sas-widget-title {
    padding-right: 32px;
    position: relative;
    cursor: pointer;
}

.sas-widget-slim .sas-widget-container-inner .sas-widget-title:after {
    position: absolute;
    right: 0;
    content: "";
    top: 50%;
    transform: translate(0px, -50%) rotate(-45deg);
    width: 12px;
    height: 12px;
    border: 2px solid;
    border-top: 0;
    border-right: 0;
    transition: all 0.3s;
}
.sas-widget-slim.slim-form-active .sas-widget-container-inner .sas-widget-title:after {
    transform: translate(0px, -5%) rotate(135deg);
}
.sas-widget-slim .sas-widget-form, .sas-widget-slim  .sas-widget-form-cros{
    display: none;
}
.sas-widget-slim.slim-form-active .sas-widget-form, .sas-widget-slim.slim-form-active  .sas-widget-form-cros{
    display: block;
}

.sas-widget-slim .sas-widget-container-inner .sas-widget-title {
    margin: 5px;
}

.sas-widget-slim .sas-widget-container-inner .sas-widget-body-single-input {
    padding: 0 5px;
}

.sas-widget-slim .sas-widget-container-inner input {
    margin: 3px 0;
}

.sas-widget-slim .sas-widget-container-inner .sas-widget-submit {
    margin: 3px 5px;
}

.sas-widget-slim .sas-widget-form-cros {
}
.sas-pop-up-hide-show-btn{
  right: 10px;  
}
.sas-widget-popup.bottom-left+.sas-pop-up-hide-show-btn{
  right: auto;  
  left: 10px;
}


#sas-widget-container.sas-widget-popup {
    right: 10px;
    width: calc(100% - 20px);
}
#sas-widget-container.sas-widget-popup.bottom-left{
right: auto;
left: 10px;
}
#sas-widget-container.sas-widget-popup.center{
 right: auto;
left: auto;   
}
}